<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleGame.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Game Time !</title>
</head>
<body>
    
    <div class="games">
        <div class="top">
            <div class="atas-content">
                <a href="/" class='bx bx-chevron-left' style='color:#724C21'></a>
            <div class="games-logo"><img src="img/logo 1.png" alt=""></div>
            <div class="games-name"><span>ROCK PAPER SCISSORS</span></div>
        
        
            </div>
        </div>



        <div class="content-games" >

            <div class="container">

                <div class="games1">
                    <span class="nama-player">
                        PLAYER 1
                    </span>

                    <div id="batu">
                        <img src="img/batu.png">
                    </div>

                    <div id="kertas">
                        <img src="img/kertas.png">
                    </div>

                    <div id="gunting">
                        <img src="img/gunting.png">
                    </div>
                 </div>


                         <div class="middle">

                            <div class="score">
                            <span>SCORE </span>
                                 </br>
                            <span id="playerScore">0</span><span>:</span><span id="computerScore">0</span>
                                 </br>
                             </div>
                             <div class="VS">
                            <span id="VS">VS</span>
                                </div>
                        </div>

                 <div class="games2">
                    <span class="nama-player">
                        COM
                    </span>

                    <div id="batuCom">
                        <img src="img/batu.png">
                    </div>

                    <div id="kertasCom">
                        <img src="img/kertas.png">
                    </div>

                    <div id="guntingCom">
                        <img src="img/gunting.png">
                    </div>

             </div>
            </div>
            
        </div>

        <div class="bottom">
            
                    <!---   reload page -->
            <a href="javascript:window.top.location.reload(true)" class="continue"><img id="refresh" src="img/refresh.png"></a>
            

        </div>

    </div>


        <script src="js/JScript4.js"> </script>


</body>
</html>