<!-- views/articles/create.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>User | Create</title>
</head>
<body>


    <!-- mengirim datanya dengan method post ke halaman /articles -->
   <div style="background-color: #9C835F;">
    <form method="POST" action="/users">
        <label for="username">Username</label>
        <br>
        <!-- input berupa text dapat di baca dengan req.body.title -->
        <input type="text" name="username"/>
        <br>

        <label for="email">Email</label>
        <br>
        <!-- input berupa text dapat di baca dengan req.body.body -->
        <input type="text" name="email"/>
        <br>
        
        <label for="password">Password</label>
        <br>
        <!-- input berupa text dapat di baca dengan req.body.body -->
        <input type="text" name="password"/>
        <br>

        <button type="submit" style="background: rgb(236, 180, 76);">Submit</button>
    </form>
</div> 
</body>
</html>