<!-- views/articles/show.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | <%= user_games.username %></title>
</head>
<body>

    <!-- meminta data "articles" bagian title, dan body -->
    <div>
        <h1>Username: <%= user_games.username %></h1>
        <p>Email: <%= user_games.email %></p>
        <p>Password: <%= user_games.password %></p>

        <p><a href="/users">Kembali</a></p>
    </div>
</body>
</html>